*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  --white:#ffffff;
  --background-color: yellow;
  --input-color:#181f32;
  --button-color:#eae3db;
  --equalbtn-color:#30d153;
  --activebtn-color:#647299;
  --buttontext-color:#5c0449;
  
}

body{
  background-color: var(--background-color);
}